In [1]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('/home/azureuser/cloudfiles/code/Users/Akshayanivashini.ChandrasekarVijayalakshmi/Skinly_Thailand/Akshay_projects2/thaiuser_chunkid_df.csv')

In [2]:
df.head()

,user_id,date,chunkiduser,moisture_cheek,moisture_forearm,moisture_forehead,shininess_cheek,shininess_forehead,evenness_cheek,evenness_forearm,...,R_porph_L_MEAN_forehead,R_porph_NUMBER_cheek,R_porph_NUMBER_forehead,Y_porph_L_MEAN_cheek,Y_porph_L_MEAN_forehead,Y_porph_NUMBER_cheek,Y_porph_NUMBER_forehead,redness_cheek,redness_forearm,redness_forehead
0,3154,2019-12-04,NaN,36.0,38.0,36.0,29.0,42.0,67.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,2.0,NaN
1,3154,2019-12-05,NaN,37.0,39.0,40.0,46.0,36.0,58.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,NaN,NaN
2,3154,2019-12-06,NaN,38.0,34.0,46.0,28.0,58.0,54.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,NaN,NaN
3,3154,2019-12-07,NaN,34.0,25.0,19.0,36.0,43.0,64.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
4,3154,2019-12-09,NaN,38.0,44.0,40.0,60.0,62.0,62.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,10.0,46.0

In [3]:
# Remove rows with no value in chunkiduser column
df = df[df['chunkiduser'].notna()]

In [4]:
df.head()

,user_id,date,chunkiduser,moisture_cheek,moisture_forearm,moisture_forehead,shininess_cheek,shininess_forehead,evenness_cheek,evenness_forearm,...,R_porph_L_MEAN_forehead,R_porph_NUMBER_cheek,R_porph_NUMBER_forehead,Y_porph_L_MEAN_cheek,Y_porph_L_MEAN_forehead,Y_porph_NUMBER_cheek,Y_porph_NUMBER_forehead,redness_cheek,redness_forearm,redness_forehead
569,3154,2023-01-19,chunk1,10.0,40.0,28.0,0.0,30.0,48.0,47.0,...,14.0,2.0,41.0,0.0,15.0,0.0,8.0,27.0,NaN,NaN
570,3154,2023-01-20,chunk1,22.0,42.0,22.0,0.0,16.0,44.0,51.0,...,14.0,0.0,44.0,0.0,13.0,0.0,3.0,27.0,NaN,NaN
571,3154,2023-01-21,chunk1,16.0,36.0,27.0,0.0,16.0,52.0,64.0,...,15.0,1.0,58.0,0.0,13.0,0.0,2.0,28.0,NaN,NaN
572,3154,2023-01-22,chunk1,18.0,45.0,31.0,0.0,21.0,44.0,54.0,...,15.0,0.0,3.0,0.0,18.0,0.0,1.0,28.0,NaN,NaN
573,3154,2023-01-23,chunk1,19.0,47.0,51.0,2.0,27.0,41.0,61.0,...,17.0,3.0,70.0,21.0,18.0,1.0,16.0,23.0,NaN,NaN

In [5]:
# Save the updated data to a new CSV file
df.to_csv('updated_thai_chunkid.csv', index=False)